:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* styling for text-editor library */

#simplemde-container-controller > div{
  height: 70vh;
}

.hide-editor .md-editor-input-wrapper {
  display: none;
}

.iframe-wrapper {
  position: relative;
  /* flex: 1 1 50%; */
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  /* outline: 2px solid red; */
}

.embedded-video {
  position: absolute;
  width: 100% !important;
  height: 100%;
  border-radius: 0.5em;
}

/* .embedded-video.protrude {
  box-shadow: 0px 0px 10px 5px #fff5;
} */
.embedded-video.protrude {
  box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.2);
}
